


<section id="departments" class="departments">
    <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-title">
            <h2>Privacy</h2>
            <p>Last updated: October 21, 2023</p>
            <p>At [News Management Systems], we value your privacy and are committed to protecting your personal information. This Privacy Policy outlines how we collect, use, and safeguard the information you provide to us through our website.</p>

        </div>

        <div class="row aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <ul class="nav nav-tabs flex-column" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link show active" data-bs-toggle="tab" data-bs-target="#tab-1" aria-selected="true" role="tab">
                            <h4>Information We Collect</h4>
                            <p>When you visit our website, we may collect certain information about you, such as your name, email address, and browsing behavior. </p>
                        </a>
                    </li>
                    <li class="nav-item mt-2" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2" aria-selected="false" role="tab" tabindex="-1">
                            <h4>How We Use Your Information</h4>
                            <p>We use the information we collect to improve our website's functionality, personalize your experience, and provide you with relevant content..</p>
                        </a>
                    </li>
                    <li class="nav-item mt-2" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3" aria-selected="false" role="tab" tabindex="-1">
                            <h4>Data Security</h4>
                            <p>We take the security of your personal information seriously.</p>
                        </a>
                    </li>
                    <li class="nav-item mt-2" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-4" aria-selected="false" role="tab" tabindex="-1">
                            <h4>Third-Party Disclosure</h4>
                            <p>We may share your information with trusted third-party service providers who assist us in operating our website and delivering our services.</p>
                        </a>
                    </li>
                    <li class="nav-item mt-2" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-5" aria-selected="false" role="tab" tabindex="-1">
                            <h4>Cookies</h4>
                            <p>Ratione hic sapiente nostrum doloremque illum nulla praesentium id</p>
                        </a>
                    </li>

                    <li class="nav-item mt-2" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-6" aria-selected="false" role="tab" tabindex="-1">
                            <h4>Changes to this Privacy Policy</h4>
                            <p>We reserve the right to update or modify this Privacy Policy at any time.</p>
                        </a>
                    </li>
                    <li class="nav-item mt-2" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-7" aria-selected="false" role="tab" tabindex="-1">
                            <h4>Contact Us</h4>
                            <p>If you have any questions or concerns about</p>
                        </a>
                    </li>
                                         

                </ul>
            </div>
            <div class="col-lg-8">
                <div class="tab-content">
                    <div class="tab-pane active show" id="tab-1" role="tabpanel">
                        <h3>Information We Collect</h3>
                        <p class="fst-italic">When you visit our website, we may collect certain information about you, such as your name, email address, and browsing behavior.</p>
                        <img src="assets/img/departments-1.jpg" alt="" class="img-fluid">
                        <p>We may also collect non-personal information, such as your IP address and browser type, for analytical purposes.</p>
                    </div>
                    <div class="tab-pane" id="tab-2" role="tabpanel">
                        <h3>How We Use Your Information</h3>
                        <p class="fst-italic">We use the information we collect to improve our website's functionality, personalize your experience, and provide you with relevant content. We may also use your information to communicate with you, respond to your inquiries, and send you newsletters or promotional materials</p>
                        <img src="assets/img/departments-2.jpg" alt="" class="img-fluid">
                        <p>We use the information we collect to improve our website's functionality, personalize your experience, and provide you with relevant content. We may also use your information to communicate with you, respond to your inquiries, and send you newsletters or promotional materials</p>
                    </div>
                  <div class="tab-pane" id="tab-3" role="tabpanel">
                        <h3>Data security</h3>
                        <p class="fst-italic">We may share your information with trusted third-party service providers</p>
                        <img src="assets/img/departments-3.jpg" alt="" class="img-fluid">
                        <p>
                            We take the security of your personal information seriously and have implemented industry-standard measures to protect it from unauthorized access, disclosure, or alteration. However, please note that no method of transmission over the internet or electronic storage is 100% secure.

                        </p>
                    </div>
                    <div class="tab-pane" id="tab-4" role="tabpanel">
                        <h3>Third-Party Disclosure</h3>
                        <p class="fst-italic">We may share your information with trusted third-party service providers</p>
                        <img src="assets/img/departments-4.jpg" alt="" class="img-fluid">
                        <p>
                            We may share your information with trusted third-party service providers who assist us in operating our website and delivering our services. These providers are contractually obligated to keep your information confidential and use it only for the purposes specified by us.

                        </p>
                    </div>
                    <div class="tab-pane" id="tab-5" role="tabpanel">
                        <h3>Cookies</h3>
                        <p class="fst-italic">Our website may use cookies to enhance your browsing experience.</p>
                        <img src="assets/img/departments-4.jpg" alt="" class="img-fluid">
                       <p>
                            Our website may use cookies to enhance your browsing experience. These cookies are small text files stored on your device that help us analyze website traffic and customize content. You can choose to accept or decline cookies through your browser settings.
                       </p>
                    </div>
                    <div class="tab-pane" id="tab-6" role="tabpanel">
                        <h3>Changes to this Privacy Policy</h3>
                        <p class="fst-italic">e reserve the right to update or modify this Privacy Policy at any time.</p>
                        <img src="assets/img/departments-4.jpg" alt="" class="img-fluid">
                       <p>
                            We reserve the right to update or modify this Privacy Policy at any time. Any changes will be effective immediately upon posting on our website. We encourage you to review this page periodically to stay informed about how we collect, use, and protect your information.
                       </p>
                    </div>
                 
                    <div class="tab-pane" id="tab-7" role="tabpanel">
                        <h3>Contact Us</h3>
                        <p class="fst-italic">If you have any questions or concerns about our Privacy Policy</p>
                        <img src="assets/img/departments-4.jpg" alt="" class="img-fluid">
                        <p>
                            If you have any questions or concerns about our Privacy Policy, please contact us at <a href="mailto:mohamedalsaffar13@gmail.com">Mohamed Alsaffar</a>.
                        </p>

                    </div>
                </div>
            </div>
        </div>

    </div>
</section>