<style>
    .team-members {
        display: flex;
        justify-content: space-between;
    }

    .team-member {
        text-align: center;
        width: 200px;
    }

        .team-member img {
            width: 150px;
            border-radius: 50%;
        }

        .team-member h3 {
            margin-top: 10px;
        }

        .team-member p {
            margin-top: 5px;
            font-style: italic;
        }

</style>
<hr />
<br />
<div class="team-members">
    <div class="team-member">
        <img src="~/assets/img/dotnetcore-removebg-preview.png" alt="Team Member 1">
        <p>.NET Developer</p>
    </div>
    <div class="team-member">
        <img src="~/assets/img/JavaScript-Symbol.png" alt="Team Member 2">
        <p>Java Developer</p>
    </div>
    <div class="team-member">
        <img src="~/assets/img/bootstarp-removebg-preview.png" alt="Team Member 3">
        <p>Bootstrap Developer</p>
    </div>
    <div class="team-member">
        <img src="~/assets/img/kisspng-microsoft-sql-server-windows-server-2008-r2-b47d7cc742ab406d87b638c3ecd3f598-removebg-preview.png" alt="Team Member 4">
        <p>SQL Developer</p>
    </div>
    <div class="team-member">
        <img src="~/assets/img/logo_new-removebg-preview.png" alt="Team Member 4">
        <p>.NET Developer</p>
    </div>
</div>
<hr />